{block title} Přidat film {/block}
{block content}

<div class="bg-white p-4">
    <h1 class="text-3xl">Přidat film</h1>

    <div class="flex mt-4">
        <div class="w-full">
            {include form-renderer addForm}
        </div>
    </div>
</div>
