{block title} Film {$movie->title} {/block}
{block content}

{block body}

<div class="bg-white p-4">
    <h1 class="text-3xl">Ohodnotit film {$movie['title']}</h1>

    <div class="flex mt-4">
        <div class="w-full">
            {include form-renderer commentForm}
        </div>
    </div>
</div>