{block content}

<div class="flex justify-center">
    <div class="bg-white p-4 w-1/2 mt-4 border rounded">
        <h1 class="text-3xl mb-3">Přihlásit se</h1>
        {include form-renderer signInForm}
    </div>
</div>

