{block content}

<div class="flex justify-center mt-4">
    <div class="bg-white p-4 w-1/2 border rounded">
        <h1 class="text-3xl">Zaregistrovat se</h1>

        <div class="mt-4">
            {include form-renderer signUpForm}
        </div>
    </div>
</div>